html body {
    background-color: #002855;
}

.navbar {
    background: transparent;
}

.navbar.scrolled {
    background: #00629B;
    margin-top: 0;
    transition: background-color 200ms linear;
    transition: margin 200ms linear;
}

.about-page {
    background-color: #002855;
    height: 100%;
    margin: 0;
    padding: 0;
}

.team {
    text-align: center;
}

.team h1 {
    color: white;
}

.our-team{
    margin-top: 10%;
    margin-bottom: 4vh;
}

.members {
    text-align: center;
}

.member {
    margin-top: 5%;
    margin-bottom: 5%;
    color: white;
}

.members img {
    border-radius: 50%;
}

.co-leaders, .board, .content-managers, .social-media-managers, .social-media-managers-r1, .social-media-managers-r2{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
}

.co-leaders div {
    flex: 0 0 50%;
}

.board div {
    flex: 0 0 30%;
}

.content-managers div {
    flex: 0 0 30%;
}

.social-media-managers-r1 div {
    flex: 0 0 30%;
}

.social-media-managers div, .social-media-managers-r2 div, .embs-committee .content-managers div {
    flex: 0 0 50%;
    /* margin: 10px; */
}
.committee-name {
    margin-bottom: 4vh;
}

.member img {
    height: 25vh;
    margin-bottom: 4vh;
}

#cs-section {
    background-color: #E87722;
    padding: 5vh;
}

#embs-section {
    background-color: #772583;
    padding: 5vh;
}

#wie-section {
    background-color: #772583;
    padding: 5vh;
}

#pes-section {
    background-color: #78BE20;
    padding: 5vh;
}

#comsoc-section {
    background-color: #00AEEF;
    padding: 5vh;
}

#tvt-section {
    background-color: #78BE20;
    padding: 5vh;
}



