.navbar {
    background-color: transparent;
    margin: 0;
    height: 12vh;
    z-index: 1000 !important;
}

.navbar.scrolled {
    /* background: #317eb6; */
    background-color: #00629B;
    margin: 0;
    height: 10vh;
    z-index: 1000 !important;
}

.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.landing {
    background-image: url(../images/comu.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    text-align: center;
    margin: auto;
    padding-top: 0;
    margin-top: 0;
    position: relative;
}

.landing-text {
    color: white;
    width: 70vw;
    font-size: 2em;
    margin: auto;
    font-family: Montserrat, sans-serif;
    font-display: block;
}

.comu-logo {
    height: 25vw;
    margin-bottom: 7vh;
    margin-top: 10vw;
}

.landing-context {
    z-index: 0 !important;
    display: inline-block;
}

#particles-js{ 
    position:absolute; 
    width: 100%; 
    height: 100%; 
    text-align: center;
    z-index: 1000;
}

.motto {
    color: rgb(231, 231, 231);
    font-size: 8vh;
    margin: auto;
    font-family: Caveat-italic, cursive;
    font-style: italic;
    margin-top: 100px;
}

.committees {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.committees div {
    margin: 3vh;
    text-align: center;
    flex: 0 0 30%;
    margin: 4vh auto;
}

.committees img {
    height: 20vh;
    margin-bottom: 3vh;
    border-radius: 50%;
}

.committees-heading {
    text-align: center;
    color: #00629B;
    font-weight: 800;
    font-size: 36px;
    margin: 30px;
}

.animate__animated.animate__fadeIn {
    animation-duration: 1.5s;
}