/* ieee blue #00629B */

body {
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif !important;
}

a {
    margin: none;
    padding: none;
}

.container-fluid {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
}
.navbar {
    padding-bottom: 5px;
    margin-top: 10px;
    border: 0;
    border-radius: 0;
    margin-bottom: 10;
    font-size: 20px;
    letter-spacing: 1px;
    font-family: Formata, sans-serif;
    position: fixed !important;
    top: 0;
    height: 10vh;
    width: 100%;
    z-index: 1000;
    transition: background-color 200ms linear;
    transition: margin 200ms linear;
    transition: height 250ms linear;

}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.navbar-brand img {
    height: 9vh;
    transition: height 250ms linear;
}

.navbar-brand.scrolled img {
    height: 8vh;
    transition: height 250ms linear;
}

.navbar.scrolled {
    /* background: #317eb6; */
    background-color: #00629B;
    margin: 0;
    transition: background-color 200ms linear;
    transition: margin 50ms linear;
    transition: height 250ms linear;
}

.mynav {
    z-index: 1000 !important;
    /* display: inline-block; */
}

.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: relative;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: black;
    margin-bottom: 0;
}

.footer p {
    padding-top: 25px;
    font-size: 12px;
    color: #fff;
}

.about-dropdown {
    text-align: center;
}
 
.about-page {
    /* background-color: black; */
    background-size: cover;
    background-position: center center;
    height: 100vh;
    text-align: center;
    margin: auto;
    padding-top: 0;
    margin-top: 0;
}

/* .loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  } */

#page-loader {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    opacity: 1;
    background-color: #585757;
    z-index: 99999;
}

.lds-hourglass {
  display: inline-block;
  position: absolute;
  width: 80px;
  height: 80px;
  background: transparent;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}